#srp-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: #2563eb;
    z-index: 999999;
    transition: width 0.1s linear;
}

.srp-reading-time {
    font-size: 14px;
    margin-bottom: 15px;
    color: #555;
    font-weight: 600;
}

@media (max-width: 768px) {

    #srp-progress-bar {
        height: 4px;
    }

    .srp-reading-time {
        font-size: 13px;
    }
}